[*.{cs,vb}]

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none
indent_style=tab
dotnet_style_prefer_auto_properties=true:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_event=false:suggestion

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
